<launch>
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0"/>
  </node>
  <node pkg="joy2twist" type="joy2twist_node.py" name="joy2twist" output="screen">
    <remap from="joy" to="/joy"/>
    <remap from="cmd_vel_in" to="/naviton/mobile_base_controller/cmd_vel"/>
    <remap from="cmd_vel_out" to="/naviton/mobile_base_controller/final_cmd_vel"/>
    <param name="linear_axis" value="1"/>
    <param name="angular_axis" value="2"/>
    <param name="linear_scale" value="1.5"/>
    <param name="angular_scale" value="4.0"/>
    <param name="auto_button" value="9"/>
    <param name="manual_button" value="8"/>
    <param name="start_button" value="2"/>
    <param name="deadband" value="0.05"/>
    <param name="invert_linear" value="false"/>
    <param name="invert_angular" value="false"/>
    <!-- set a button index to force zero output (e.g., A button) -->
    <param name="publish_zero_on_button" value="-1"/>
  </node>
</launch>
